@model LoadRoom
@{
    ViewData["Title"] = "Information CEAPP";
    Layout = "_Layout";
}

<h1><strong>Rooms Information </strong></h1>
<br />
<br />
<br />
<h2>ID: @Model.Id</h2>
<h2>Room: @Model.room</h2>
<h2>Entry Date: @Model.Entry_Date</h2>
<h2>Departure Date: @Model.Departure_Date</h2>
<h2>Observations: @Model.Observation</h2>
