@model EquipmentLoan
@{
    ViewData["Title"] = "Information CEAPP";

}
<h1><strong>Devices Information</strong></h1>
<br />
<br />
<br />
<h2>ID: @Model.Id</h2>
<h2>User ID: @Model.User_Id</h2>
<h2>Zone: @Model.Room_Id</h2>
<h2>Entry Date: @Model.DeliverDate</h2>
<h2>Departure Date: @Model.DateReceived</h2>
<h2>Observations: @Model.Observation</h2>