@model User
@{
    ViewData["Title"] = "Information CEAPP";
    Layout = "_Layout";
}

<h1><strong>User Information</strong></h1>
<br/>
<p><strong>Usuario Id:</strong> @Model.Id</p>
<p><strong>DNI: </strong>@Model.DNI</p>
<p><strong>Rol: </strong>@Model.Role</p>
<p><strong>Nombres: </strong>@Model.Nombres</p>
<p><strong>Apellidos: </strong>@Model.Apellidos</p>
